/*
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*/

body {
  background-color: #fff;
  color: rgb(80,80,80);
  font-family: "Droid Serif", serif;
  margin: 0;
  margin-top: 2.75em;
  text-rendering: optimizeLegibility;
}

h1 {
  color: rgb(80,80,220);
  font-family: "Bitter", serif;
  font-weight: 700; 
  text-align: center;
}

p {
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  
}

.blurb {
  color: rgb(49,49,49);
  font-weight: 300;
  font-size: 1.35rem;
  line-height: 1.85rem;
  margin: 2em auto 1em auto;
  text-align: justify;
  width: 65%;
}
            
a {
  border-bottom: 1px dotted rgb(28,148,198);
  color: rgb(28,148,198);
  text-decoration: none;
}

footer {
  text-align: center;
}

.container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 760px;
  max-width: 90%;
}

.social-links {
  margin-bottom: 1em;
}
